[run]
source = app

[paths]
source =
    app/
    */app/
    */microservices/exercises-service/app/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:

[xml]
relative_files = True